* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #27004C;
    color: #fff;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.header {
    display: flex; 
    align-items: center; 
    padding: 20px 0;
    margin-right: 620px;
}
.header-image {
    width: 60px; 
    height: auto; 
    margin-right: 15px; 
}
.header-text {
    text-align: left; 
}
.header h1 {
    font-size: 2rem;
    color: #fff;
    text-decoration: underline;
}
.header p {
    font-size: 1.2rem;
    color: #fff;
}
.container {
    background-color: #fff;
    color: #333;
    width: 90%; 
    height: 100vh; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2; 
    position: relative; 
}
.planner-section {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.planner-section img {
    width: 17%; 
    border-radius: 10px;
}
.planner-info h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px;
    text-decoration: underline;
}
.planner-info p {
    font-size: 0.9rem; 
}
.packages h2{
    text-decoration: underline;
    margin-left: 550px;
    margin-bottom: 25px;
}
.packages h3 {
    font-size: 1.3rem; 
    margin-bottom: 10px;
    text-decoration: underline;
}
.packages ul {
    list-style-type: none;
    padding: 0;
}
.packages ul li {
    margin-bottom: 8px;
    font-size: 0.9rem; 
}
.button-container {
    text-align: center;
}
.contact-btn {
    background-color: #7a41ec;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.contact-btn:hover {
    background-color: #8a56f3;
}

.cloud-image {
    position: absolute;
    top: -50px;
    right: -130px;
    width: 400px;
    height: auto;
    z-index: 1; 
}
.box1 {
    display: inline-block; 
    padding: 10px;
    background-color: #dfd6d6;
    border: 0px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}
.box2 {
    display: inline-block; 
    padding: 10px;
    background-color: #dfd6d6;
    border: 0px solid #ccc;
    border-radius: 20px;
    margin-left: 250px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
.box3 {
    display: inline-block; 
    padding: 10px;
    background-color: #dfd6d6;
    border: 0px solid #ccc;
    border-radius: 20px;
    margin-left: 250px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
